<h4><%= @party.name %> Party <h4>
<h5>Thanks for dining at <br><%= @restaurant.name %>!</h5>

<h3 class="people-ahead-2">There are</h3><h1 id="people-ahead"><%= @people_ahead %></h1>
<h3 class="people-ahead-2">parties ahead of you.</h3>


<div id="blurb">
  <h7>Want to pass the time? Play a round of head-to-head trivia against another waiting party for a chance to earn points <span class="bold-text">get rewards</span>!</h7>
</div>
<br>

<%= link_to "PLAY", restaurant_waitingroom_path(@restaurant),class: "waves-effect waves-light btn-large" %>
