<h5 class="summarytitle"><%= @message %></h5>
<%= react_component('SummaryGraph', {your_round_score: @your_round_score.to_i, other_round_score: @other_round_score.to_i, quiz_length: @quiz_length.to_i}) %>
<h5 class="summary"> Your Score </h5>
<div class="player1"></div>
<h5 class="summary"> Opponent Score </h5>
<div class="player2"> </div>

<a class="waves-effect waves-light btn large" href="/restaurants/<%= @restaurant.id %>/parties/<%= current_party.key %>">Back to Main</a>




