<!DOCTYPE html>
<meta charset="utf-8">
<h3>YOU DID IT</h3>
 <svg class="chart"></svg>
 <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<div class="player_1">
  <h4>Player 1 Score</h4>
</div>

<div class="player_2">
  <h4>Player 2 Score</h4>
</div>

