Thanks for eating at <%= @rest.name %>
<br>
<br>
<table>
<% @current.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.points_earned %></td>
  </tr>
<% end %>
</table>
<br>
<a href="/restaurant/<%= @rest.id %>/parties/1">Back to Main</a>
<br>
<a href=""></a>
