<!DOCTYPE html>
<html>
  <head>
    <title>Waitr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>Waitr - Making your wait time suck a little less</header>

  <body>
    <%= yield %>
  </body>
</html>
