// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h3.guess-status-incorrect {
  color: red;
  font-style: italic;
  font-size: 24px;

}

h3.guess-status-correct {
  color: green;
  font-style: italic;
  font-size: 24px;
}

.question-display {
  font-style: italic;
  font-size: 20px;
  border: solid 2px black;
  padding: 20px;
}

.question-count {
font-weight: bold;
}

.waiting {
font-size: 24px;


}
