/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

$primary-color: color("#42a5f5", "lighten-2") !default;

/*Login Page*/

.logout {
  text-align: right;
  padding-right: 25px;
}

.container .row {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

nav {
  background: #42a5f5;
}

.login-header, .login-slogan, .add-party-header {
  position: relative;
  text-align: center;
}


body {
  font-family: 'Raleway', sans-serif;
}

.hidden {
  display: none;
}

.input-field input[type=text]:focus {
  border-bottom-color: #42A5F5;
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:focus {
  border-bottom-color: #42A5F5;
  box-shadow: 0 1px 0 0 #000;
}



textarea:focus {
  border-bottom: 1px solid #42A5F5;
}


.btn, .btn:hover, .btn-large, .btn-large:hover {
  background-color: #42A5F5;
}
