// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.timer {
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h3.guess-status-incorrect {
  color: red;
  font-style: italic;
  font-size: 16px;

}

h3.guess-status-correct {
  color: green;
  font-style: italic;
  font-size: 16px;
}

.question-display {
  margin-top: 15px;
  font-style: italic;
  font-size: 20px;
  border: solid 2px black;
  padding: 10px;
}

.question-count {
  font-size: 24px;
font-weight: bold;
text-align: center;
}

.waiting {
font-size: 20px;
font-weight: bold;
  }

.guess-container {
  left: 50%;
  right: 50%;
}


.player {
  position: relative;
  left: 0px;
  padding: 0;
  margin-left: 0 ;

}
.player h4 {
  font-weight: bold;
  font-size: 12px;
  padding: 4px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  border: white solid 2px;
  border-bottom: white solid 1px;

}
.score-box {
    display: inline-block;

  margin: 0 auto;
  font-size: 26px;
  color: blue;
  border: white solid 2px;
  border-top: white solid 1px;

}

.score-board-container{
  width: 40%;
  margin-bottom:25px;
  margin-top: 10px;
  background: black
}

.staticquestionheader {
  height: 230px;
  width: 100%;
}

.waiting {
  margin-bottom: 0px;
  margin-top: 0px;
}
