// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width: 80%;
  text-align: center;
  padding-top: 20px;
}

.add-party-button {
  padding-bottom: 20px;
}

#people-ahead {
  font-weight: bold;
  color: dark red;
  font-size:8em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.people-ahead-2 {
  margin-top: 0px;
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 0px;

}

.leader-board-header {
  font-size: 20px;
}

.bold-text {
  font-weight: bold;
}


.embolden {
  font-weight: bold;
  color: #3C97E0;
  font-size: 24px;
}


.prize-progress{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;

}

h4.party-title {
    margin-top: 0px;
  margin-bottom: 0px;

}


#blurb {
  margin-top :5px;
}
