// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  width: 80%;
  text-align: center;
  padding-top: 20px;
}

.add-party-button {
  padding-bottom: 20px;
}

#people-ahead {
  font-weight: bold;
  color: dark red;
  font-size:8em;
  margin-top: 0px;
  margin-bottom: 0px;
}
.people-ahead-2 {
  margin-top: 0px;
  font-size: 1.5em;
  font-style: italic;

}

.leader-board-header {
  font-size: 20px;
}

.bold-text {
  font-weight: bold;
  color: blue;
}

.btn-party {
  width: 200px;
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .btn-party {
    width: 200px;
    margin: 4px;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .btn-party {
    width: 200px;

  }
}

#itsyou {
  background-color: #bbdefb
}








