<h2>Thanks for dining at <%= @restaurant.name %>!</h2>
<h3>Party name: <%= @party.name %><br><br></h3>

<h1 id="people-ahead">
  <%= @people_ahead %>
</h1><br>
<h3>people ahead of you</h3>


<div id="blurb">
  Want to pass the time? Play a round of head-to-head trivia for a chance to earn points and get rewards! Winner of the round keeps the points and loser gets none!
</div>

<br>

<%= link_to "View Leaderboard!", leaderboard_path(@restaurant) %>
