Thanks for dining at <%= @restaurant.name %>!<br>
Party name: <%= @party.name %><br><br>
There are
<br>
<div id="people-ahead">
  <%= @people_ahead %>
</div>
people ahead of you
<br><br>
<button>PLAY HEAD TO HEAD</button>
<br>
<button>view leaderboard</button><br>
<%= link_to "View Leaderboard!", leaderboard_path(@restaurant) %>
